html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Hero */
.hero {
  padding: 0px;

  text-align: center;

  background-color: rgb(141, 141, 141);
}

.hero-title {
  margin-bottom: 30px;
  color: var(--white-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 600px;
  max-width: 1600px;

  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)),
    url('../images/Hero-compressed.jpg');

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.order {
  font-weight: 700;
}

/* Sections */

.section {
  padding-bottom: 94px;
}

.advantages {
  padding-top: 120px;
}

.add-padding {
  padding-top: 94px;
}

.section-title {
  margin-bottom: 50px;

  color: var(--secondary-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

/* Примущества */

.advantages-title {
  margin: 0px;
  margin-bottom: 10px;

  color: var(--secondary-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.advantages-text {
  margin-top: 0px;
  margin-bottom: 0px;
}

.advantages-list {
  display: flex;
}

.advantages-list .item + .item {
  margin-left: 29px;
}

.advantages-list .item {
  max-width: 270px;
}

.advantages-list .advantages-img {
  display: block;
  margin: auto;
  margin-bottom: 55px;
}

.icon-bg {
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

/* .advantages-list .item::before {
  content: '';
  display: block;
  height: 120px;

  margin-bottom: 30px;

  background: #f5f4fa;
  border-radius: 4px;

  background-repeat: no-repeat;
  background-position: center;
}

.advantages-list .icon-1::before {
  background-image: url(../images/2adv/icon-1.svg);
}

.advantages-list .icon-2::before {
  background-image: url(../images/2adv/icon-2.svg);
}

.advantages-list .icon-3::before {
  background-image: url(../images/2adv/icon-3.svg);
}

.advantages-list .icon-4::before {
  background-image: url(../images/2adv/icon-4.svg);
} */

/* Чем мы занимаемся */

.we-list .img-wrap {
  position: relative;
}

.section .caption {
  position: absolute;
  bottom: 0;

  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  margin-top: 0px;
  margin-bottom: 0px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--white-color);
  background-color: rgba(47, 48, 58, 0.8);
}

.we-list {
  display: flex;
}

.we-list .item + .item {
  margin-left: 30px;
}

.we-list .item {
  text-align: center;
}

.we-list img {
  display: block;
}

/* Наша команда */

.background {
  background-color: #f5f4fa;
}

.team-img {
  margin-bottom: 30px;
}

.names {
  margin-top: 0px;
  margin-bottom: 10px;

  color: var(--secondary-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.profession {
  margin-top: 0px;
  margin-bottom: 28px;

  font-size: 16px;
  line-height: 1.19;
}

.team-list {
  display: flex;
}

.team-list .item + .item {
  margin-left: 30px;
}

.team-list .item {
  background-color: var(--white-color);
  text-align: center;
}

.team-list > .item {
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
}

.icons-list {
  display: flex;
}

.icons-list .item + .item {
  margin-left: 10px;
}

.icons-list .item {
  cursor: pointer;
}

.icons-list {
  justify-content: center;
  margin-bottom: 36px;
}

.icon-bg-team {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;
  color: #afb1b8;
  background-color: #fff;
  border-radius: 50%;

  transition: background-color 250ms var(--cubic), color 250ms var(--cubic);
}

.icon-bg-team:hover {
  background-color: var(--accent-color);
  color: #fff;
}

.icon-bg-team:focus {
  background-color: var(--accent-color);
  color: #fff;
}

.icon-team {
  fill: currentColor;
}

/* Наши клиенты */

.clients-list {
  display: flex;
  justify-content: space-around;
}

.clients-list .item {
  cursor: pointer;
}

.icon-bg-clients {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  color: #afb1b8;
  border-radius: 4px;

  transition: transform 250ms var(--cubic), color 250ms var(--cubic), border 250ms var(--cubic);
}

.icon-bg-clients:hover,
.icon-bg-clients:focus {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);

  transform: scale(1.2);
}

.icon-clients {
  fill: currentColor;
}

/* .clients-list .item + .item {
  margin-left: 160px;
}

.clients-list .item:first-child {
  margin-left: 65px;
} */

/* МОДАЛЬНОЕ ОКНО */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  z-index: 2;
  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity 250ms var(--cubic);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.3);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  min-height: 581px;
  min-width: 528px;
  padding: 40px;

  background-color: #fff;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms var(--cubic);
}

.button-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;

  outline: none;
  background: url(../images/svg-close.svg);
  background-color: #fff;

  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  border: none;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);

  transform: translate(25%, -25%) scale(1);
  transition: transform 250ms var(--cubic);
}

.button-close:hover,
.button-close:focus {
  cursor: pointer;

  transform: translate(25%, -25%) scale(1.2);
}

/* РАЗМЕТКА ФОРМЫ */

.form-title {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;

  color: var(--secondary-text-color);
  font-size: 20px;
  line-height: 1.15;
}

.form-field {
  position: relative;
  display: flex;
  flex-direction: column;

  margin-bottom: 28px;
}

.form-input {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.form-field input:not([type='checkbox']) {
  width: 448px;
  height: 40px;

  padding-left: 41px;
}

.form-field .comment-input {
  resize: none;

  width: 448px;
  height: 120px;
  padding: 16px 12px;
}

.form-field label {
  color: #757575;
}

.checkbox-area a {
  color: var(--accent-color);
  border-bottom: 1px solid var(--accent-color);
}

.form button {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.form-label {
  position: absolute;
  top: 50%;
  left: 42px;

  transform: translateY(-50%);

  transition: transform 250ms var(--cubic);
}

.icon {
  position: absolute;
  top: 50%;
  left: 19px;
  transform: translate(-50%, -50%);
}

.form-input:focus ~ .icon {
  fill: var(--accent-color);
}

.form-input:focus {
  outline: none;
  border: 1px solid var(--accent-color);
}

.form-field:focus-within > .form-label,
.form-input:not(:placeholder-shown) + .form-label {
  color: var(--accent-color);
  transform: translate(-30px, -42px) scale(0.9);
}

.comment-label {
  position: absolute;
  top: 12px;
  left: 16px;

  transition: transform 250ms var(--cubic);
}

.form-field:focus-within > .comment-label,
.form-input:not(:placeholder-shown) + .comment-label {
  color: var(--accent-color);
  transform: translate(-8px, -37px) scale(0.9);
}

/* ЧЕКБОКС */

.checkbox-area {
  position: relative;
}

.checkbox {
  position: absolute;
  margin: 3px 14px;

  width: 15.9px;
  height: 15px;

  border: 2px solid var(--secondary-text-color);
  border-radius: 2px;

  transition: background-color 250ms var(--cubic);
}

.check-input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.policy {
  margin-left: 40px;
}

.check-input:checked + .checkbox {
  background-image: url(../images/form/check.svg);
  background-size: contain;
  background-origin: border-box;
  background-color: var(--accent-color);
  border-color: transparent;

  border-radius: 2px;
}
