.logo {
  margin-right: 86px;
  padding-top: 24px;
  padding-bottom: 25px;
  @extend %logo-style;
}

.logo-color {
  color: $accent-color;
}

.logo-footer {
  padding: 0px;
  margin-right: 0px;

  @extend %logo-style;

  color: $white-color;
}
