.hero {
  padding: 0px;

  text-align: center;

  background-color: rgb(141, 141, 141);
}

.hero-title {
  margin-bottom: 30px;
  color: $white-color;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 600px;
  max-width: 1600px;

  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)),
    url('../images/Hero-compressed.jpg');

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
