.site-nav .link.current-portfolio {
  color: $accent-color;
}

.site-nav .link.current-portfolio::after {
  content: '';
  display: inline-block;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 4px;

  background-color: $accent-color;
  border-radius: 2px;
}
